:root {
	--list-items: 0;
}

.app.list,
.category.list {
	display: grid;
	gap: 1rem;
	grid-auto-flow: row;
	grid-template-columns: repeat(var(--list-items), 1fr);
	padding: 0;
	list-style-type: none;

	& * {
		margin: 0;
	}
}

.app.list {
	--font-size: 0.8em;
}

.app.list-item {
	font-size: var(--font-size);

	& a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.8rem;
		text-decoration: none;
	}
}

.category.list {
	grid-template-columns: repeat(calc(var(--list-items) + 1), 1fr);
}

.category.list-item > a {
	text-decoration: none;
}

.category.list-link {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.link.list-item {
	margin-bottom: 0.3rem;

	& a {
		text-decoration: none;
	}
}

@media (min-width: 601px) {
	:root {
		--list-items: 2;
	}
}

@media (min-width: 768px) {
	:root {
		--list-items: 3;
	}
}
